/* reset */
a {
    color: #0079FF;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #7BC3FD;
}
a:active {
    color: #00428A;
}
body {
    color: #333;
}
/* 滚动条 */
::-webkit-scrollbar-track-piece {
    background-color: #FFF;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #FFF;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #FFF;
}

/* 预览区 */
.preview-box {
    width: 100%;
    height: 222px;
}
.preview-main {
    position: relative;
    width: 360px;
    margin: auto;
}
.frame {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 640px;
    height: 640px;
}

/* 菜单 */
.menu {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    border-top: 1px #D0D0D0 solid;
    width: 100%;
    height: 40px;
    background: #FFF;
    -webkit-overflow-scrolling: touch;
}
.menu-item {
    float: left;
    width: 78px;
    height: 45px;
    line-height: 36px;
    text-align: center;
    background: #f9f9f9;
    cursor: pointer;
}
.menu-items {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1172px;
    height: 40px;
}
.menu .active {
    color: #f33 !important;
}

/* 表格选项 */
.table-list {
}
.table-item {
    float: left;
    width: 33.33%;
    border: 1px solid #eee;
}
.table-item.active {
    border-color: #f33;
}
.table-item img {
    display: block;
    margin: 0 auto;
}

#list {
    position: relative;
    width: 100%;
    overflow: auto;
}


#svgBg {
    position: absolute;
    left: -140px;
    top: -210px;
    width: 640px;
    height: 640px;
    background-color: #87CEEB;
    -webkit-transform: scale(0.56, 0.35);
    -moz-transform: scale(0.56, 0.35);
    transform: scale(0.56, 0.35);
}

#svgContainer {
    position: absolute;
    left: -140px;
    top: -210px;
    width: 640px;
    height: 640px;
    -webkit-transform: scale(0.35, 0.35);
    -moz-transform: scale(0.35, 0.35);
    transform: scale(0.35, 0.35);
}

/* 页脚 */
.footer {
    width: 100%;
    height: 40px;
    border-top: 1px #D0D0D0 solid;
    background: #FFF;
}
.footer-btn {
    display: inline-block;
    float: left;
    width: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
}
.svg-form {
    display: none;
}

/* */
.svg {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -110px;
    background-color: #87CEEB;
}
.result-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    padding: 15px;
    background-color: #fff;
}
.icon-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 18px;
}
.result {
    display: none;
    width: 640px;
    height: 640px;
    margin: 0 auto;
}
.canvas {
    display: block;
    width: 300px;
    height: 300px;
    margin: 30px auto;
    background-color: #f1f1f1;
}
.download {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}
.tip {
    color: #999;
    text-align: center;
}